@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

////////////////////////////////////////////////
//////// general
html {
  font-family: sans-serif; // TEMP
}

body {
  font-family: "Lato", sans-serif;
  color: v.$color-text-dark-gray; // TEMP
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
}

.wip {
  font-size: 0.8rem;
  color: v.$color-gray-2;
}

////////////////////////////////////////////////
//////// Navbar
.logo {
  text-decoration: none;

  &__text {
    font-family: "Lato", sans-serif; // TEMP
    font-size: 1.875rem;
    color: v.$color-text-black; // TEMP
    font-weight: 700;
  }
}

.btn--menu {
  i {
    font-size: 2rem;
  }
}

////////////////////////////////////////////////
//////// Nav
.nav a {
  text-decoration: none;
  color: v.$color-text-dark-gray;
  opacity: 0.8;
  font-weight: 700;

  &:hover {
    opacity: 1;
  }
}

.nav .nav--active {
  opacity: 1;
}

////////////////////////////////////////////////
//////// Home page
// Hero
.hero {
  h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.05;

    span {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  h4 {
    color: v.$color-gray-1;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4;
  }
}

// SectionSummary
.summary {
  &__title {
    @include m.content-title;
  }

  &__text {
    @include m.content-text;
  }
}

//-- Projects
.project-item {
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  &__links {
    a:link,
    a:visited {
      color: v.$color-yellow;
    }
  }

  &__tools {
    &-title {
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &-list {
      li {
        font-size: 0.9rem;
      }
    }
  }

  &__description {
    line-height: 1.5;
  }
}

////////////////////////////////////////////////
//////// About page
// My skills
.skills {
  figcaption {
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: v.$color-gray-1;
  }
}

.skill-learning {
  figcaption {
    color: v.$color-gray-4;
    text-align: center;
  }
}

// My story
.about-container {
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.05;
  }

  h2 {
    @include m.content-title;
  }
}

.about {
  &__content {
    p {
      @include m.content-text;
    }
  }
}

////////////////////////////////////////////////
//////// Footer
.footer {
  &__title {
    font-size: 1.875rem;
  }

  &__contact-link {
    text-decoration: none;
    font-family: inherit;
    color: v.$color-text-dark-gray;
    font-size: 1.5rem;
  }

  a {
    transition: all 0.15s ease;

    &:hover {
      color: v.$color-gray-3;
    }
  }
}

.btn--sns {
  text-decoration: none;
  color: v.$color-text-dark-gray;

  &:hover {
    color: v.$color-gray-1;
  }
}

////////////////////////////////////////////////
//////// Buttons
.btn--link {
  text-decoration: none;
  font-family: inherit;
  color: v.$color-text-dark-gray;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;

  &:hover {
    color: v.$color-text-dark-gray;
  }
}
