@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.contact-form {
  width: 100%;
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0 auto;

  button {
    margin-top: 1rem;
  }

  input,
  textarea {
    width: 100%;
    background-color: v.$color-yellow;
    border: 1px solid v.$color-text-dark-gray;
    border-radius: 10px;
    padding: 1rem;
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @include m.respondMin(v.$laptop-s) {
    &__name {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0;
      column-gap: 1rem;
    }
  }
}

.form-submit {
  &--result {
    text-align: center;

    width: 90%;
    max-width: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: v.$color-popup;
    // border: 3px solid v.$color-text-dark-gray;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 4rem 2rem;
    z-index: 1000;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-message {
    line-height: 1.5;
  }

  &--error {
    .form-submit-title {
      color: v.$color-error;
    }

    i {
      font-size: 4rem;
      color: v.$color-error;
    }
  }

  &--success {
    .form-submit-title {
      color: v.$color-success;
    }

    i {
      font-size: 4rem;
      color: v.$color-success;
    }
  }

  &-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    i {
      color: v.$color-text-dark-gray;
      font-size: 1.5rem;
    }
  }
}

.popup-overlay {
  &--true {
    background-attachment: scroll;

    width: 100%;
    height: 100%;
    background-color: transparent;
    // -webkit-backdrop-filter: blur(6px);
    // backdrop-filter: blur(6px);

    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;

    transition: all 0.4s ease;
    z-index: 999;
  }

  &--false {
    display: none;
  }
}
