@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  display: flex;
  padding-block: 2rem;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    margin-block: 3rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.sns-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn--sns {
  display: inline-block;
  transition: all 0.2s ease;
}
