@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  display: flex;
  padding-block: 2rem;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    font-size: 1.875rem;

    margin-block: 3rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.btn--to-contact {
  display: inline-block;
  text-decoration: none;

  font-family: inherit;
  font-size: 1.5rem;
  color: v.$color-text-dark-gray;

  transition: all 0.15s ease-in-out;
  // z-index: -1;

  h4 {
    font-family: inherit;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
  }

  @include m.btn-hover {
    &:hover {
      color: v.$color-brown-2;
    }
  }
}

.sns-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn--sns {
  display: inline-block;
  text-decoration: none;
  color: v.$color-text-dark-gray;
  transition: all 0.15s ease;

  @include m.btn-hover {
    &:hover {
      color: v.$color-brown-2;
    }
  }
}
