@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.section__hero {
  height: fit-content;
  // height: calc(100vh - 100px); // viewport height minus header height
  background: linear-gradient(135deg, #ff8080, #ffa366, #ffd699);
  background-size: 400% 400%;
  animation: Gradient 4s ease infinite;

  padding-block: 8rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 2rem;

  .btn--to-contact {
    width: 100%;
    background-color: transparent;

    border: 1px solid v.$color-text-dark-gray;
    border-radius: 16px;
    padding: 0.5rem 1rem;

    @include m.btn-hover {
      &:hover {
        transform: translate(1px, 2px);
      }
    }
  }
}
