@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.section__hero {
  min-width: 100%;
  // height: calc(100vh - 100px); // viewport height minus header height
  background: linear-gradient(
    135deg,
    v.$color-coral,
    v.$color-orange,
    v.$color-yellow
  );
  background-size: 400% 400%;
  animation: Gradient 4s ease infinite;

  @include m.respondMin(v.$tablet-l) {
    animation: Gradient 7s ease infinite;
  }

  @include m.respondMin(v.$laptop-s) {
    animation: Gradient 10s ease infinite;
  }
}

.hero {
  max-width: 82.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  row-gap: 2rem;

  padding-block: 8rem;

  @include m.respondMin(v.$tablet-l) {
    .btn--to-contact {
      width: 13.125rem;

      border-radius: 20px;
      padding: 1rem 2rem;
    }
  }

  @include m.respondMin(v.$laptop-s) {
    grid-template-columns: 3fr 2fr;
    column-gap: 2rem;

    &__title {
      grid-column: 1 / 2;
    }

    &__subtitle {
      grid-column: 2 / 3;

      h4 {
        padding-block: 1rem;
      }
    }

    &__contact {
      grid-column: 1 / -1;
    }
  }
}
