@use "../abstracts/variables" as v;

.navbar {
  width: 100%;

  position: relative;

  background-color: v.$color-bg-white;
  // 💡 rgba(v.$color-bg-white, 0) to become opacity .8 and backdrop-filter: blur(3px) when scrolled
  opacity: 0.8;

  padding: 1.25rem 0;
  transition: all 0.15s ease;

  z-index: 9999;
}

.navbar-box-shadow {
  box-shadow: 0 0.15rem 0.3rem rgba(v.$color-text-black, 0.1);
}

.nav-container {
  width: 100%;
  max-width: 71.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;

  &__text {
    font-family: "Lato", sans-serif; // TEMP
    font-size: 1.875rem;
    // color: v.$color-text-dark-gray; // TEMP
    color: v.$color-text-black; // TEMP
    font-weight: 700;
  }
}

.btn--menu-container {
  cursor: pointer;
  padding: 1.125rem;
}

.btn--menu {
  cursor: inherit;
  text-decoration: none;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.15s ease;

  i {
    font-size: 1.5rem;
  }
}
