@use "../abstracts/variables" as v;

.navbar {
  width: 100%;
  position: relative;

  background-color: v.$color-bg-white;
  opacity: 0.8;

  padding: 1.516rem 0;
  transition: all 0.15s ease;
  z-index: 9999;
}

.navbar-scrolled {
  box-shadow: 0 0.15rem 0.3rem rgba(v.$color-text-black, 0.1);
}

.nav-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn--menu-container {
  cursor: pointer;
}

.btn--menu {
  cursor: inherit;
  text-decoration: none;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.15s ease;
}

// DESKTOP
.navbar--desktop {
  .nav-overlay {
    display: none;
  }

  .nav {
    // reset
    position: static;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    padding: 0;

    a {
      width: 4rem;
      padding: 0;
      text-align: center;
    }
  }
}
