.section {
  &__summary {
    margin-block: 7rem 5rem;
  }
}

.summary {
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-bottom: 3rem;
  }

  &__body {
    margin-bottom: 3rem;
  }
}

.project__list {
  grid-row-gap: 3.75rem;
}
