@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.section__summary {
  width: 100%;
  height: 100%;
  margin-block: 7rem 2rem;
  // margin-inline: 0;
}

.summary {
  &__about,
  &__projects {
    width: 100%;
    max-width: 82.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    margin-inline: auto;
  }

  &__about {
    margin-bottom: 6rem;
  }

  &__skills {
    background-color: v.$color-yellow;
    margin-bottom: 6rem;
  }

  &__body {
    margin-bottom: 3rem;

    img {
      width: 100%;
      max-width: 20rem;
      border-radius: 8px;
    }
  }

  &__text {
    grid-row: 1 / 2;

    p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__about &__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    row-gap: 2rem;
    column-gap: 0;
    margin-bottom: 0;

    @include m.respondMin(900px) {
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr auto;
      row-gap: 0;
      column-gap: 2rem;

      &__text {
        grid-column: 1 / 2;
      }

      &__body {
        img {
          grid-column: 2 / 3;
        }
      }
    }
  }
}

.skills__container {
  // padding-block: 3rem;
  // padding-block: 3rem;

  &:first-child {
    // padding-left: 3rem;
  }
}

.reel {
  display: grid;
  gap: 3rem;
  grid-auto-flow: column;
  // grid-auto-columns: 30%;
  grid-auto-columns: auto;
  // grid-auto-columns: 30%;
  align-items: center;
  justify-content: start;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 2rem;

  padding-block: 3rem;

  & > * {
    scroll-snap-align: start;
  }

  @include m.respondMin(688px) {
    // grid-auto-columns: 20%;
    // gap: 1rem;
  }

  @include m.respondMin(1200px) {
    // grid-auto-columns: 15%;
    // gap: 0;
    // display: flex;
    // overflow-x: hidden;
    // scroll-snap-type: none;
    // scroll-padding: 0;

    // gap: 2rem;
    // justify-content: center;
    // padding-inline: 0;
  }
}

.skill {
  // width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.project__list {
  grid-row-gap: 3.75rem;
}
